@import "../Variables";


.slider {
  -webkit-appearance: none;
  width: 95%;
  height: 15px;
  border-radius: 5px;
  background: $my-light-blue;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  &:hover {
    opacity: 1;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $my-orange;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $my-orange;
  cursor: pointer;
}

.slider-value-row {
  display: flex;
  gap: 5px ;
  justify-content: space-between;
}

.slider-min-max {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}


