@import "../Variables";

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  input {
    border-radius: 5px;
    background: $my-light-blue;
  }
  p {
    margin: 0;
  }
}